<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/global.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>LinketINder</title>
</head>

<body class="p-3 m-0 border-0">

<h1 class="text-center">LinketINder</h1>
<h5>Cadastro de Empresa</h5>
<hr>

<form name="form2" action="#" method="post" class="row g-3 needs-validation" novalidate>
    <div class="col-md-12">
        <div class="row g-3">
            <div class="col-md-5">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" id="nome" class="form-control" placeholder="Nome da empresa..." required>
                <div class="invalid-feedback">Informe o nome da empresa!</div>
            </div>

            <div class="col-md-2">
                <label for="pais" class="form-label">País</label>
                <select id="pais" class="form-select" required>
                    <option value="" disabled selected>Selecione</option>
                    <option value="Alemanha">Alemanha</option>
                    <option value="Austrália">Austrália</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Estados Unidos">Estados Unidos</option>
                    <option value="Japão">Japão</option>
                    <option value="Portugal">Portugal</option>
                </select>
                <div class="invalid-feedback">Selecione um país!</div>
            </div>

            <div class="col-md-2">
                <label for="estado" class="form-label">Estado</label>
                <select id="estado" class="form-select" required>
                    <option value="" disabled selected>Selecione</option>
                    <optgroup label="Alemanha">
                    <option value="Baviera">Baviera</option>
                    </optgroup>
                    <optgroup label="Austrália">
                        <option value="Austrália Meridional">Austrália Meridional</option>
                    </optgroup>
                    <optgroup label="Brasil">
                        <option value="Brasília">Brasília</option>
                        <option value="Goiás">Goiás</option>
                        <option value="São Paulo">São Paulo</option>
                    </optgroup>
                    <optgroup label="Estados Unidos">
                        <option value="Califórnia">Califórnia</option>
                    </optgroup>
                    <optgroup label="Japão">
                        <option value="Kyoto">Kyoto</option>
                        <option value="Tóquio">Tóquio</option>
                    </optgroup>
                    <optgroup label="Portugal">
                        <option value="Braga">Braga</option>
                    </optgroup>
                </select>
                <div class="invalid-feedback">Selecione um estado!</div>
            </div>

            <div class="col-md-3">
                <label for="cep" class="form-label">CEP (Zipcode)</label>
                <input type="text" id="cep" class="form-control" placeholder="99999999"  required>
                <div class="invalid-feedback">Informe o CEP de localidade da empresa!</div>
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" id="email" class="form-control" placeholder="empresa@empresa.com" required>
                <div class="invalid-feedback">Informe o e-mail da empresa!</div>
            </div>

            <div class="col-md-6">
                <label for="cnpj" class="form-label">CNPJ (ABN, EIN, NIF)</label>
                <input type="text" id="cnpj" class="form-control" placeholder="99999999000199" required>
                <div class="invalid-feedback">Informe o CNPJ da empresa!</div>
            </div>

            <div class="col-md-12">
                <div class="row g-3">
                    <div class="col-md-6">
                        <fieldset class="border p-2 rounded">
                            <legend class="float-none w-auto">Competências</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="java" name="competencias[]" value="Java">
                                        <label class="form-check-label" for="java">Java</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="groovy" name="competencias[]" value="Groovy">
                                        <label class="form-check-label" for="groovy">Groovy</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="typescript" name="competencias[]" value="Typescript">
                                        <label class="form-check-label" for="typescript">Typescript</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="teste_unitarios" name="competencias[]" value="Teste Unitários">
                                        <label class="form-check-label" for="teste_unitarios">Teste Unitários</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="javascript" name="competencias[]" value="JavaScript">
                                        <label class="form-check-label" for="javascript">JavaScript</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <label for="descricao" class="form-label">Descrição da Empresa</label>
                        <textarea type="text" id="descricao" class="form-control h-77" placeholder="Faça aqui uma breve descrição da empresa..." rows="3" required></textarea>
                        <div class="invalid-feedback">O campo deve ser preenchido!</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input type="submit" class="btn btn-success me-md-2" value="Cadastrar" id="btnCadastrar">
    </div>
</form>
<script src="../dist/cadastroEmpresa.js"></script>
</body>
</html>